@import 'tailwindcss';

@theme{
    /*Colors*/
    --color-brand-blue: #1C2A39;
    --color-brand-darkRed: #5A2A2A;
    --color-brand-peru: #D4A373;

    --color-brand-blue-100: #CFDBE7;
    --color-brand-blue-200: #B0C4D8;
    --color-brand-blue-300: #92ACC9;
    --color-brand-blue-400: #7395BA;
    --color-brand-blue-500: #547EAB;
    --color-brand-blue-600: #45678C;
    --color-brand-blue-700: #36516D;
    --color-brand-blue-800: #273A4F;
    --color-brand-blue-900: #1C2A39;

    --color-brand-red-100: #E8CECE;
    --color-brand-red-200: #D9AFAF;
    --color-brand-red-300: #CB9090;
    --color-brand-red-400: #BC7171;
    --color-brand-red-500: #AD5252;
    --color-brand-red-600: #8E4343;
    --color-brand-red-700: #6F3434;
    --color-brand-red-800: #5A2A2A;
    --color-brand-red-900: #311717;

    --color-brand-peru-100: #EEDBC8;
    --color-brand-peru-200: #E3C4A5;
    --color-brand-peru-300: #D4A373;
    --color-brand-peru-400: #CE965F;
    --color-brand-peru-500: #C3803C;
    --color-brand-peru-600: #A06931;
    --color-brand-peru-700: #7D5226;
    --color-brand-peru-800: #7D5226;
    --color-brand-peru-900: #5A3B1C;

    --color-brand-gray-100: #DBDBDB;
    --color-brand-gray-200: #C4C4C4;
    --color-brand-gray-300: #ADADAD;
    --color-brand-gray-400: #969696;
    --color-brand-gray-500: #808080;
    --color-brand-gray-600: #696969;
    --color-brand-gray-700: #525252;

    --color-warning-100: #FDF6E7;
    --color-warning-200: #FBE5BC;
    --color-warning-300: #F8D491;
    --color-warning-400: #F5C366;
    --color-warning-500: #F2AE30;
    --color-warning-600: #F0A10F;
    --color-warning-700: #C5840D;

    --color-error-100: #FDE8E8;
    --color-error-200: #F9BEBE;
    --color-error-300: #F49494;
    --color-error-400: #F06A6A;
    --color-error-500: #EB3636;
    --color-error-600: #E81717;
    --color-error-700: #BE1313;

    --color-success-100: #F5FBE9;
    --color-success-200: #E4F5C2;
    --color-success-300: #D2EE9B;
    --color-success-400: #C1E773;
    --color-success-500: #AFE14C;
    --color-success-600: #9EDA25;
    --color-success-700: #7FB01E;
    
    --color-info-100: #BBE9FC;
    --color-info-200: #8FDBFA;
    --color-info-300: #63CEF8;
    --color-info-400: #27BBF5;
    --color-info-500: #0BB2F4;
    --color-info-600: #0992C8;
    --color-info-700: #07729C;

    /*Fonts*/

    --font-inter: "Inter Variable", sans-serif;
    --font-cormorant: "Cormorant Garamond Variable", serif;
}